#sliderContainer { width: 898px; height: 115px; position: relative; margin: 0 auto; }
#sliderContainer .slideContent { _background:url("../images/contentBg.png") repeat scroll 0 0 transparent; position: absolute; bottom:0px; right:0px; padding: 10px; width: 843px; }
#sliderContainer .slide h3 { visibility:hidden; font: 26px/1em 'Rokkitt', serif; color: #FFF; margin: 0 0 5px 0; }
#sliderContainer .slide p { visibility:hidden; font-size: 14px; color: White; margin: 0; }
#sliderContainer .recommended-ads-list { text-align:center }
#sliderContainer .recommended-list { margin:0 2px; padding:0; border:0; width:120px; height:100px; display:block; float:left; background-image: url(../images/ads-bg.png); background-repeat:no-repeat; }
#sliderContainer .jFlowSlideContainer { overflow: hidden; }
#sliderContainer .jFlowSlideContainer a { color: #666; text-decoration: none; font-style: italic; }
#sliderContainer .jFlowSlideContainer a:hover { text-decoration: none; }
#sliderContainer .jFlowSlideContainer a:focus { position: relative; top: 1px; }
#sliderContainer .jFlowNext { background:url("../images/scroll/arrows.png") no-repeat scroll 0 -35px transparent; height:130px; position:absolute; top:0; right: -50px; width:50px; cursor:pointer; }
#sliderContainer .jFlowPrev { background:url("../images/scroll/arrows.png") no-repeat scroll -84px -35px transparent; height:130px; position:absolute; top:0; left: -50px; width:50px; cursor:pointer; }
#sliderContainer .jFlowPrev:hover { background-position: -84px -235px; }
#sliderContainer .jFlowNext:hover { background-position: 0px -235px; }
/* controller pagination */

#myController { position: absolute; top: -15px; right: 5px; }
#myController .jFlowControl { background:url("../images/scroll/bullet.png") no-repeat scroll 0px 0px transparent; float: left; width: 15px; height: 15px; }
#myController .jFlowControl:hover { background-position: -32px 0px; cursor: pointer; }
#myController .jFlowSelected,
.jFlowSelected:hover { background-position: -15px 0px; }
